h1{
    text-align: center;
    color: rgb(138, 51, 76, 0.787);
}
.image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.image-container-2 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    color: rgb(147, 62, 102);
}
.image-container-3 {
    display: flex;
    justify-content: space-between;
    color: rgb(147, 62, 102);
}
.image-container-4 {
    display: flex;
    justify-content: space-between;
    color: rgb(147, 62, 102);
}
body{
    background-color: lavenderblush;
    color: rgb(147, 62, 102);
}
h2{
    text-align: center;
    color: rgb(138, 51, 76, 0.787);
    
}
