
.image-container-1 {

    display: grid;
    gap: 20px;
    row-gap: 20px;
    justify-content: space-between;
    padding-top: 100px;
    grid-template-columns: 1fr 1fr 1fr;
}
.image-container-2 {
    display: grid;
    gap: 20px;
    justify-content: space-between;
    padding-top: 300px;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.text-container {
    display: grid;
    
    background-color: rgb(233, 175, 175);
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}
body {
    background-color: darkgrey;
}
.text-container-1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    padding-top: 200px;
    height: 50px;

    
}
@media screen  and (max-width: 1200px){
   .image-container-1 {
    grid-template-columns: 1fr 1fr;
    background-color: cornflowerblue;
   } 
}
@media screen  and (max-width: 600px){
    .image-container-1 {
     grid-template-columns: 1fr;
     background-color: cornflowerblue;
    } 
 }
 @media screen  and (max-width: 1200px){
    .image-container-2 {
     grid-template-columns: 1fr 1fr;
     background-color: cornflowerblue;
    } 
 }
 @media screen  and (max-width: 600px){
    .image-container-2 {
     grid-template-columns: 1fr;
     background-color: cornflowerblue;
    } 
 }